.btn {
    border-radius: 4px; /*增加边框圆角*/
    transition: all 0.3s ease; /*过渡效果*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /*阴影效果*/
    font-weight: 600; /*字体加粗*/
}

.btn-warning,
.btn-danger {
    background: linear-gradient(to right, #f2994a, #f2c94c); /*添加渐变背景*/
    border: none;
    color: #fff;
}

.btn-warning:hover,
.btn-danger:hover {
    transform: scale(1.05); /*鼠标悬浮时按钮放大*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /*增大阴影*/
}