<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/bbs_demo_icon.ico"/>
    <title>编辑留言</title>
</head>
<body>
{% extends "bbs/base.html" %}
{% block content %}
    <h1>留言</h1>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ 留言 }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="content">消息内容:</label><br>
        <textarea name="content" id="content" cols="30" rows="5"></textarea><br>
        <input type="submit" value="发送">
    </form>

    <a href="{% url 'notif:notiflist' %}">查看消息列表</a>
{% endblock content %}
</body>
</html>
