<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bbs_style_sheet.css"/>



</head>
<body>

<ul class="nav">
    <li><a><b>SJTUer‘s SNS Forum</b></a></li>
    <li><a href="{% url 'bbs:index' %}">首页</a> </li>
    {% if user.is_authenticated %}
        <li style="float: right"><a href="{% url 'users:logout' %}">退出登录</a> </li>
        <li style="float: right">

            <div class="dropdown">
                <span>{{ user.username }}</span>
                <div class="dropdown-content">
                    <a href="{% url 'bbs:my_article' %}">我的发帖</a>
                    <a href="{% url 'bbs:my_comment' %}">我的回复</a>
                    <a href="{% url 'chat:my_info' username=user.username %}">个人信息</a>
                    <a href="{% url 'notif:notiflist' %}">我的消息</a>
                </div>
            </div>
        </li>
        <li style="float: right">
        <div class="dropdown">
                <span>{{ "论坛之外" }}</span>
                <div class="dropdown-content">
                    <!-- 首先确定导航栏中的内容 每个内容用链接标签<a>表示 -->
                    <a href="https://i.sjtu.edu.cn/">交大信息服务网</a>
                    <a href="https://oc.sjtu.edu.cn/">canvas登录</a>
                    <a href="https://shuiyuan.sjtu.edu.cn/">交大水源</a>
                    <a href="https://mail.sjtu.edu.cn/">交大邮箱</a>
                    <a href="https://pt.sjtu.edu.cn/">交大葡萄</a>
                    <a href="https://my.sjtu.edu.cn/">交我办</a>
                    <a href="https://www.overleaf.com/">overleaf</a>
                    <a href="https://www.zhihu.com/">知乎</a>
                    <a href="https://www.bilibili.com/">B站</a>
                    <a href="https://github.com/">github</a>
                    <a href="https://dekt.sjtu.edu.cn/">第二课堂</a>
                    <a href="http://studyroom.lib.sjtu.edu.cn/">图书馆预约</a>
                    <a href="{% url 'bbs:mailbox' %}">开发人员信箱</a>
                </div>
            </div>

        </li>
        <li style="float: right">
        {% if user.avatar %}
                <div style="width: 60px; height: 60px;border-radius: 50%;   margin-right: 7px;overflow: hidden;  ">
                    <img src="{{ user.avatar.url }}" alt="{{username }}'s avatar" style="width: 100%; height: 100%;margin-right: 20px;">
                </div>
                {% else %}
                <div style="width: 60px;height: 60px;border-radius: 50%;   margin-right: 7px; overflow: hidden;" >
                    <img src=/static/img/path-to-default-avatar.jpg alt="Default avatar" style="width: 100%; height: 100%;margin-right: 20px;">
                </div>

                {% endif %}
        </li>
    {% else %}
        <li style="float: right"><a href="{% url 'users:register' %}">注册</a> </li>
        <li style="float: right"><a href="{% url 'users:login' %}">登录</a> </li>
    {% endif %}
</ul><br/>

{% block content %}{% endblock content %}
</body>
</html>
