{% extends "bbs/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <style>
        body{
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
.content-box{
    position:absolute;
    z-index: 1;
    margin: auto;
    left:20%;
}

     register-part{
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
	height: 100%;
	background-position: center;
	background-attachment: fixed;
    margin-top: 0px;
}
.main{
	width:400px;
	height:670px;
	background: rgb(255,255,255,.5);
	border-radius: 8px;
}
.title{
	width:100%;
	height:40px;
	border-bottom:1px solid #999;
	text-align: center;
	line-height: 40px;
	font-weight: 500;
	font-size: 16px;

}
.inp{
	display: flex;
	width: calc(100% - 60px);
	height:40px;
	background: #fff;
	border-radius: 4px;
	margin:0 auto;
	margin-bottom:10px;
    padding: 2px 8px;
    border: 2px solid #e3e3e3;
    outline: none;
    font-size: 16px;
}
.inp1{
	margin-top:30px;
}
.left{
	width:40px;
	height:100%;
}
.left > img{
	width:26px;
	height:26px;
	margin-top:7px;
	margin-left:7px;
}
.right{
	width:calc(100% - 40px);
	height:100%;
}
.right > input{
	width:100%;
	height:100%;
	background: #00000000;
	border:0;
	line-height: 40px;
	font-style: inherit;
	outline: 0;
}

button{
	width: calc(100% - 60px);
	height:40px;
	background: #6E50E9;
	color:#fff;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	margin:0 auto;
	border-radius: 4px;
	margin-top:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    </style>
</head>
<body>

    <div class="content-box">
        {% if form.erors %}
            <p>请输入正确的用户名或密码！</p>
        {% endif %}

        <form action="{% url 'users:register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <register-part>
            <div class="main">
                <div class="title">注册</div>
                <div class="inp inp1">
                    <div class="left">
					        <img src="/static/img/user.png">
				    </div>
                    <div class="right">
                        <input type="text" name="username" maxlength="20" autocomplete="username" required="" id="id_username" placeholder="请输入用户名">
                    </div>
                </div>
                <div class="inp">
				        <div class="left">
					        <img src="/static/img/anquan.png">
				        </div>
				        <div class="right">
                        <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" placeholder="请输入密码">
                        </div>
                </div>
                <div class="inp">
				        <div class="left">
					        <img src="/static/img/anquan.png">
				        </div>
				        <div class="right">
                            <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" placeholder="请再次输入密码">
                        </div>
                </div>

                <!-- ... 其他输入字段 ... -->
                     <div class="inp">
				        <div class="right">
                           <input type="email" name="email" autocomplete="email" required="" id="id_email" placeholder="请输入邮箱">
                        </div>
                     </div>
                     <button style="width:100px " type="button" id="send_code_btn">发送验证码</button>

                     <div style="margin-top: 10px" class="inp">
				        <div  class="right">
                           <input  type="text" name="verification_code" required="" id="id_verification_code" placeholder="请输入验证码">
                        </div>
                     </div>

                <!-- ... 其他输入字段 ... -->


                    <span style="margin-left: 20px">上传头像: </span>
                    <div style="margin-top: 5px" class="inp">
				        <div  class="right">
                        <input type="file" name="avatar" id="id_avatar">
                        </div>
                    </div>
                    <div class="inp">
				        <div  class="right">
                        <input type="text" name="Sno" autocomplete="Sno" required="" id="id_Sno" placeholder="请输入学号">
                        </div>
                    </div>
                <div class="inp">
				        <div  class="right">
                        <input type="text" name="phone" autocomplete="phone" required="" id="id_phone" placeholder="请输入手机号">
                        </div>
                </div>

                <button id="myButton" name="submit">注 册</button>
                <input type="hidden" name="text" value="{% url 'bbs:index' %}"/>
            </div>
            </register-part>
        </form>
    </div>
    <!-- 确保已引入 jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#send_code_btn").click(function () {
                var email = $("#id_email").val();
                $.ajax({
                    url: "{% url 'users:send_verification_code' %}",
                    type: "POST",
                    data: {
                        email: email,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (data) {
                        if (data.success) {
                            alert("验证码已发送到你的邮箱");
                        } else {
                            alert("错误: " + data.error);
                        }
                    }
                });
            });
        });
    </script>

<script type="module">
        import * as THREE from "https://cdn.skypack.dev/three@0.136.0";
        import { OrbitControls } from "https://cdn.skypack.dev/three@0.136.0/examples/jsm/controls/OrbitControls";
        console.clear()
        let scene = new THREE.Scene()
        scene.background = new THREE.Color(0x160016)
        let camera = new THREE.PerspectiveCamera(60, innerWidth / innerHeight, 1, 1000)
        camera.position.set(0, 4, 21)
        let renderer = new THREE.WebGLRenderer()
        renderer.setSize(innerWidth, innerHeight)
        document.body.appendChild(renderer.domElement)
        renderer.domElement.id ="myCanvas";
        window.addEventListener("resize", event => {
            camera.aspect = innerWidth / innerHeight
            camera.updateProjectionMatrix()
            renderer.setSize(innerWidth, innerHeight)
        })
        let controls = new OrbitControls(camera, renderer.domElement)
        controls.enableDamping = true
        controls.enablePan
        let gu = {
            time: { value: 0 }
        }
        let sizes = []
        let shift = []
        let pushShift = () => {
            shift.push(
                Math.random() * Math.PI,
                Math.random() * Math.PI * 2,
                (Math.random() * 0.9 + 0.1) * Math.PI * 0.1,
                Math.random() * 0.9 + 0.1
            )
        }

        let pts = new Array(50000).fill().map(p => {
            sizes.push(Math.random() * 1.5 + 0.5)
            pushShift()
            return new THREE.Vector3().randomDirection().multiplyScalar(Math.random() * 0.5 + 9.5)
        })

        for (let i = 0; i < 100000; i++) {
            let r = 10, R = 40;
            let rand = Math.pow(Math.random(), 1.5);
            let radius = Math.sqrt(R * R * rand + (1 - rand) * r * r);
            pts.push(new THREE.Vector3().setFromCylindricalCoords(radius, Math.random() * 2 * Math.PI, (Math.random() - 0.5) * 2));
            sizes.push(Math.random() * 1.5 + 0.5);
            pushShift();
        }
        let g = new THREE.BufferGeometry().setFromPoints(pts)
        g.setAttribute("sizes", new THREE.Float32BufferAttribute(sizes, 1))
        g.setAttribute("shift", new THREE.Float32BufferAttribute(shift, 4))
        let m = new THREE.PointsMaterial({
            size: 0.125,
            transparent: true,
            depthTest: false,
            blending: THREE.AdditiveBlending,
            onBeforeCompile: shader => {
                shader.uniforms.time = gu.time
                shader.vertexShader = `
                uniform float time;
                attribute float sizes;
                attribute vec4 shift;
                varying vec3 vColor;
                ${shader.vertexShader}
                `
                    .replace(
                        `gl_PointSize = size;`,
                        `gl_PointSize = size * sizes;`
                    )
                    .replace(
                        `#include <color_vertex>`,
                        `#include <color_vertex>
                    float d = length(abs(position)/vec3(40.,10.,40));
                    d=clamp(d,0.,1.);
                    vColor = mix(vec3(227.,155.,0.),vec3(100.,50.,255.),d)/255.;`
                    )
                    .replace(
                        `#include <begin_vertex>`,
                        `#include <begin_vertex>
                            float t = time;
                            float moveT = mod(shift.x + shift.z * t,PI2);
                            float moveS = mod(shift.y + shift.z * t,PI2);
                            transformed += vec3(cos(moveS) * sin(moveT),cos(moveT),sin(moveS)*sin(moveT)) * shift.w;
                            `
                    )
                shader.fragmentShader = `
                    varying vec3 vColor;
                    ${shader.fragmentShader}
                `.replace(
                    `#include <clipping_planes_fragment>`,
                    `#include <clipping_planes_fragment>
                        float d = length(gl_PointCoord.xy - 0.5);
                    `
                ).replace(
                    `vec4 diffuseColor = vec4( diffuse, opacity );`,
                    `vec4 diffuseColor = vec4( vColor, smoothstep(0.5, 0.1, d)/* * 0.5+0.5*/);`
                );
            }

        })
        let p = new THREE.Points(g, m)
        p.rotation.order = "ZYX"
        p.rotation.z = 0.2
        scene.add(p)
        let clock = new THREE.Clock()
        renderer.setAnimationLoop(() => {
            controls.update()
            let t = clock.getElapsedTime() * 0.5
            gu.time.value = t * Math.PI
            p.rotation.y = t * 0.05
            renderer.render(scene, camera)
        })
        let canvas = document.getElementById("myCanvas");
        let url = canvas.toDataURL("image/png");
        document.body.style.backgroundImage = "url(" + url + ")";
    </script>
</body>
</html>
{% endblock content %}